//
   Created by dandreini16 on 12/22/16.

doctype
html
head
    title= title
    meta(name='description' content=description)
    link(rel='stylesheet' href='/css/style.css')
body
    header
        h1: a(href='/') Blog of Danny Andreini
        p My hacking.
    main
        != yield